.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fcfcfc;
}

main h1 {
  font-size: 3rem;
  color: #333;
}

main p {
  color: #666;
  font-size: 1.2rem;
}
