.footer {
  background: #111;
  color: #fff;
  padding: 60px 80px 25px;
}

/* =======================
        GRID
======================= */

.container {
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr 1fr;
  gap: 50px;
}

/* =======================
      LOGO
======================= */

.logo {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 18px;
}

/* =======================
      SECTION
======================= */

.section h3 {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 18px;
  color: #fff;
}

.section p {
  color: #bdbdbd;
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 8px;
}

.section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section li {
  margin-bottom: 12px;
}

/* Link */

.section li a {
  color: #bdbdbd;
  text-decoration: none;
  transition: all 0.25s ease;
}

.section li a:hover {
  color: #fff;
  padding-left: 5px;
}

/* =======================
      SOCIAL
======================= */

.socials {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.socials a {
  color: #bdbdbd;
  text-decoration: none;
  transition: all 0.25s ease;
}

.socials a:hover {
  color: white;
  padding-left: 5px;
}

/* =======================
      PAYMENT
======================= */

.paymentSection {
  margin-top: 55px;
  padding-top: 30px;
  border-top: 1px solid #2d2d2d;
}

.paymentSection h3 {
  text-align: center;
  margin-bottom: 22px;
  font-size: 18px;
  font-weight: 600;
}

.paymentMethods {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.payment {
  background: #1d1d1d;
  border: 1px solid #333;
  padding: 10px 22px;
  border-radius: 8px;
  transition: 0.3s;
  cursor: default;
}

.payment:hover {
  background: #292929;
  border-color: #666;
}

/* =======================
      FOOTER BOTTOM
======================= */

.bottom {
  margin-top: 45px;
  padding-top: 22px;
  border-top: 1px solid #2d2d2d;
  text-align: center;
}

.bottom p {
  color: #888;
  font-size: 14px;
  margin: 0;
  letter-spacing: 0.5px;
}

/* =======================
      TABLET
======================= */

@media (max-width: 992px) {
  .footer {
    padding: 50px 40px 25px;
  }

  .container {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}

/* =======================
      MOBILE
======================= */

@media (max-width: 600px) {
  .footer {
    padding: 40px 20px;
  }

  .container {
    grid-template-columns: 1fr;
    gap: 35px;
    text-align: center;
  }

  .socials {
    align-items: center;
  }

  .paymentMethods {
    justify-content: center;
  }
}
